NEXT_PUBLIC_TELEGRAM_URL=
NEXT_PUBLIC_SITE_URL=https://mr-spark-main.vercel.app
NEXT_PUBLIC_BRAND_NAME="Mr Spark"
SITE_INDEXING_ENABLED=false
CONTACT_PHONE_DISPLAY="+49 123 4567890"
CONTACT_PHONE_E164="+491234567890"
CONTACT_EMAIL="kontakt@mr-spark.de"
EMERGENCY_HOURS_LABEL="24h erreichbar"
SERVICE_AREAS="Deutschland"
LEAD_WEBHOOK_URL=
LEAD_WEBHOOK_BEARER_TOKEN=
LEAD_DESTINATION_LABEL="operations webhook"
LEAD_MIN_SUBMIT_MS=3000
LEAD_RATE_LIMIT_MAX=5
LEAD_RATE_LIMIT_WINDOW_MS=600000
LEGAL_PUBLISH_READY=false
LEGAL_COMPANY_NAME="Mr Spark"
LEGAL_REPRESENTATIVE=
LEGAL_STREET_ADDRESS=
LEGAL_POSTAL_CODE=
LEGAL_CITY=
LEGAL_COUNTRY=DE
LEGAL_VAT_ID=
LEGAL_TRADE_REGISTER=
LEGAL_TRADE_REGISTER_NUMBER=
